@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.nav-main-container {
		@apply w-[100%] fixed z-[10000] top-0 lg:h-[116px] md:h-[116px] bg-[#ABABAB] shadow-md;
	}
	.nav-inner-container {
		@apply flex items-center justify-between w-[80%] mx-auto h-[100%];
	}
	.nav-link {
		@apply relative font-semibold text-white cursor-pointer text-[18px] w-fit md:block after:block after:content-[''] 
		after:absolute after:h-[3px] after:bg-red-600 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition 
		after:duration-300 after:origin-center hidden drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
	}
	.nav-link-mobile {
		@apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[25px] w-fit md:block after:block 
		after:content-[''] after:absolute after:h-[3px] after:bg-red-600 after:w-full after:scale-x-0 
		after:hover:scale-x-100 after:transition after:duration-300 after:origin-center
		drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
	}
	.nav-link-mobile-close {
		@apply absolute cursor-pointer top-[2rem] right-[2rem] w-[2rem] h-[2rem] text-red-500;
	}
	.nav-fyke-header {
		@apply flex-[0.6] cursor-pointer text-[25px] font-bold drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
	}
	.heading {
		@apply text-center text-white text-[28px] sm:text-[33px] md:text-[45px] font-bold uppercase;
	}
	.hero-main-container {
		@apply w-[80%] h-[120%] grid-cols-1 mx-auto grid md:grid-cols-2 lg:grid-cols-2 sm:gap-[1rem] md:gap-[2rem] lg:gap-[3rem] md:h-[100%] lg:h-[100%] items-center;
	}
	.hero-heading {
		@apply text-[35px] md:text-[50px] text-white font-bold drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
	}
	.body-texts {
		@apply text-[18px];
	}
	#downloadButton {
		box-shadow: inset 0 0 0 0 #ef4444;
		transition: ease-out 0.3s;
		color: #2b445e;
	}
	#downloadButton:hover {
		box-shadow: inset 250px 0 0 0 #ef4444;
		color: white;
	}
	#Hero {
		height: 88vh;
		background-color: #efefef;
		margin-top: 12vh;
	}
	.project-image-container {
		@apply transform cursor-pointer relative w-[100%] h-[200px] md:h-[300px];
	}
	.project-title {
		@apply mt-[2rem] uppercase font-semibold mb-[1rem] text-[20px] sm:text-[25px] md:text-[30px] text-white text-center drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
	}
	.project-description {
		@apply p-5 w-[100%] bg-gray-800 rounded-sm text-white text-[20px] font-bold;
	}
}
